<section class="content-section content-section--centered content-section--full-height content-section--large-text content-section--has-mousetrail section section-reveal">
  <!-- Trail images -->
  <img src="https://img.youtube.com/vi/KmgIxuXondw/hqdefault.jpg" alt="" class="mouse-trail__image" aria-hidden="true">
  <img src="https://img.youtube.com/vi/sw49UUOKDXs/hqdefault.jpg" alt="" class="mouse-trail__image" aria-hidden="true">
  <img src="https://img.youtube.com/vi/8queRjX3Ifk/hqdefault.jpg" alt="" class="mouse-trail__image" aria-hidden="true">
  <img src="https://img.youtube.com/vi/bVE49b2IifY/hqdefault.jpg" alt="" class="mouse-trail__image" aria-hidden="true">
  <img src="https://img.youtube.com/vi/sdRd5LbnTt0/hqdefault.jpg" alt="" class="mouse-trail__image" aria-hidden="true">
  <img src="https://img.youtube.com/vi/n7XFjJL5UGk/hqdefault.jpg" alt="" class="mouse-trail__image" aria-hidden="true">
  
  <div class="content-section__container">
    <div class="content-section__content">
      <div class="content-section__headline">
        <h2 class="content-section__headline-text" js-line-animation>Think You<br>Belong Here?</h2>
      </div>
      <a href="https://calendly.com/tyler-thecreatorsattorney" class="btn btn--secondary btn--on-dark btn--chuparosa" target="_blank" rel="noopener noreferrer">Schedule a Consultation</a>
    </div>
  </div>
</section>

